@model Truck
<h1>Add a truck</h1>

<h4>Truck Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Truck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Truck Number</label>
                <input asp-for="truckNum" class="form-control" />
                <span asp-validation-for="truckNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Truck Model</label>
                <input asp-for="truckModel" class="form-control" />
                <span asp-validation-for="truckModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Truck Make</label>
                <input asp-for="truckMake" class="form-control" />
                <span asp-validation-for="truckMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Truck Route Number</label>
                <input asp-for="truckRouteNumber" class="form-control" />
                <span asp-validation-for="truckRouteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Truck" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DashBoard">Back to Dashboard</a>
</div>



<table class="table">
    <h2>Truck Database</h2>
    <thead>
        <tr>
            <th>
                Truck Number
            </th>
            <th>
                Truck Model
            </th>
            <th>
                Truck Make
            </th>
            <th>
                Truck Route Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Truck truckItem in TruckRepository._TruckList)
        {
                <tr>
                    <td>
                    @truckItem.truckNum;
                    </td>
                    <td>
                    @truckItem.truckModel;
                    </td>
                    <td>
                    @truckItem.truckMake;
                    </td>
                    <td>
                    @truckItem.truckRouteNumber;
                    </td>
                </tr>
        }
    </tbody>
</table>
